<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <%- include('../partials/files.ejs')%>
</head>
<body>
    <div class="header-container">
        <h3><a href="/card/new">Create New Card</a></h3> 
        <h1><%=username%>'s Cards</h1>
        <h3><a href="/logout">Log Out</a></h3>
    </div>

    <div class="card-container">
        <% for (land of lands){%>
            <div class="card-show-img"> 
                <a href="/card/<%= land._id%>"> 
                    <img src="<%= land.img_link%>"/>
                </a>
            </div>
        <%}%>
        <% for (card of cards){%>
            <div href="/card/<%= card._id%>" class="card">
                <% if (card.img_link === "") { %>
                    <a href="/card/<%= card._id%>"> 
                        <h2>
                            <%= card.name %>
                        </h2>
                    </a>
                <% } else { %>
                    <a href="/card/<%= card._id%>"> 
                        <img src="<%= card.img_link%>" class="card-show-img"/>
                    </a>
                <% } %>
            </div>
        <%}%>
    </div>      
    
</body>
</html>