<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <%- include('../partials/files.ejs')%>
</head>
<body>
    <%- include('../partials/card_header.ejs')%>
    <main>
        <div>
            <article>
                <% if(card.toggle !== false){ %>
                    <% if (card.type_line != false){%><h3><%= card.type_line %></h3><%}%>
                    <% if (card.expansion_symbol != false){%><h3><%= card.expansion_symbol %></h3><%}%>
                    <% if (card.artist_info != false){%><h3><%= card.artist_info %></h3><%}%>
                    <% if (card.power_toughness != false){%><h3>Power/Toughness: <%= card.power_toughness %></h3><%}%>
                    <% if (card.text_box.abilities != false){%><h3>Abilities: <%= card.text_box.abilities %></h3><%}%>
                    <% if (card.text_box.flavor_text != false){%><h3>Flavor Text: <%= card.text_box.flavor_text %></h3><%}%>
                    <% if (card.mana_cost.colorless_info != false){%><h3>Colorless Info: <%= card.mana_cost.colorless_info %></h3><%}%>
                    <% if (card.mana_cost.colors_identity != false){%><h3>Color Identity: <%= card.mana_cost.colors_identity %></h3><%}%>
                    <div class="show_img"><img src="<%= card.img_link%>"/></div>
                    <form action="/card/<%=card._id%>?_method=Delete" method="POST">
                        <input type="submit" value="Delete This Card">
                    </form>
                <% }else{ %>
                    <h3><%= card._doc.type_line %></h3>
                    <h3><%= card._doc.artist_info %></h3>
                    <div class="show_img"><img src="<%= card._doc.img_link%>"/></div>
                <%}%>
            </article>
        </div>
        <% if(card.toggle !== false){ %>
            <a href="/card/<%=card._id%>/edit"><button>Edit this card</button></a>
        <%}%>
        <a href="/card"><button>Back to Main Menu</button></a>
    </main>
</body>
</html>